//Font Variables
$tib-font: Jomolhari;
$en-font: Zilla Slab;
// Colors Variables
$header-color: hsla(17, 87%, 7%, 1);
$primary-color: hsla(17, 39%, 15%, 1);
$dropdown-color: hsla(4, 73%, 30%, 1);
$secondary-color: hsla(43, 98%, 36%, 1);
$off-white: hsla(36, 100%, 95%, 1);
